*

!README.md

!.envrc

!src
!src/janhke_emde
!src/janhke_emde/*.py

!pyproject.toml
!uv.lock

!.gitignore

!flake.nix
!flake.lock
!default.nix
!shell.nix

!nix
!nix/*.nix

!defs
!defs/*nix

.nixie
result
